#!/bin/sh
# {{ ansible_managed }}

cat << 'EOF'
 This system is managed by Ansible.

{% if figlethost.stdout is defined %} {{ figlethost.stdout }} {% endif %}

 {{ freifunk.name }}
EOF

echo " OS          : $(lsb_release -d -s) $(lsb_release -c -s)"
echo " Hostname    : $(hostname)"
echo " IP address  : $(hostname -I | cut -d' ' -f1){% if ansible_default_ipv6.address is defined %} / {{ ansible_default_ipv6.address }}{% endif %}"
echo " System type : $(uname -s) $(uname -m)"
echo " Kernel      : $(uname -r)"
echo " "
{% if server_besitzer is defined %}
echo " Besitzer    : {{ server_besitzer }}"
{% endif %}

cat << 'EOF'


EOF
